jobs:
  include:
    - stage: test
      language: node_js
      cache: npm
      install:
        - npm ci
      script:
        - npm run lint
        - npm run unit && exit 125
    - stage: coverage
      language: node_js
      cache: npm
      install:
        - npm ci
      before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
          > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - "./cc-test-reporter before-build"
      script:
        - npm run unit -- --coverage
      after_script:
        - "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
    - stage: integration-tests
      language: bash
      env:
        - DOCKER_COMPOSE_VERSION=1.23.2
      before_install:
        - sudo rm /usr/local/bin/docker-compose
        - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname
          -s`-`uname -m` > docker-compose
        - chmod +x docker-compose
        - sudo mv docker-compose /usr/local/bin
      services:
        - docker
      script:
        - bash integration-tests.sh
    - stage: create-release
      language: node_js
      install:
        - npm i @semantic-release/commit-analyzer @semantic-release/release-notes-generator
          @semantic-release/github
      script: npx semantic-release
    - stage: build
      install: skip
      services:
        - docker
      script:
        - bash infrastructure/travis/build.sh
    - stage: deploy
      install:
        - bash ./infrastructure/travis/install-openshift.sh
        - export PATH=$PATH:/tmp/openshift
      script: bash infrastructure/travis/deploy.sh
stages:
  - test
  - integration-tests
  - name: coverage
    if: branch = master AND type != pull_request
  - name: create-release
    if: branch = master AND type != pull_request
  - name: build
    if: "(branch = master AND type != pull_request) OR tag IS present"
  - name: deploy
    if: "(branch = master AND type != pull_request) OR tag IS present"
env:
  global:
    - secure: DOYKVqaObpLYa7iaEPykCuHdXeUw2pHnSZL/6fylLKHDsCoMfvFvW939ubEQebsaeU4HHLMVJ0FT6gpQCRRNnxkp+BPypQMUnkcV6OzAKXoM7OSoaq2RzbAXMQXvaF5Jd82j2d3j1Dx2DF0bGdv5KTxNaqL4hqW1u0z7FIpD7EiTazC2NzSVharpp074t5vsTBBor24GY2QXJ9449gILP0Qw8/JImybmBJ5TtINyREWC+xmTkmjYG+i8zdQxLRW1nKIiWnH82ZwrJtrWS6DI1O1ZOtcCnSlPhlSxVLYgvk76BZr3rNrdgRs7QQ9nAI0XOzc+ao5+3PBy+pGIBGF8CO98qvQfRbDI24BO3Da0F6Rn9IzHd9zX42xMk5DySBR2CrXgCzoHPb1mor+rM6qsBG8O5zo9+AcK1q3sllzHF3o9hHZKQHB5audvdUehp+I5ryv2EbkcUXquPGRgpSHsvTGrDRLQwM9Jkf65SQbbzN9TpCEu7iZy4ysq/LiRKb+ebppsPR/qNrTXH1IDxTnAeUzpnCxc02v7/DnadfD7dLL9qQ2ue2ksrDOlqk79QeGogNvj6dsUySvIqPYEIF3T52u1M7VElGRNjmzox+9d1XcYcwCnRo0djLyRCn9xwMD3KkZQFhsFLGzKeM2TAW4mmJmsn1Od9QnHRrw0kiwXzvk=
    - secure: R2J3BUD6u6GIqQXBPBTujuQNvC2/4QlxHNtqpJ4mdZ4ZjqrimlAI8mIrgWGtFcYjphfz2peD0py0oThDa99TZMdnWMwFnc5Z36UOc6nU4g+GRWdyuDchjxs+TLZ4wvT8UhghvWZseM7HCI4ha2F4+kxReAEgp6pgN2ia0FOXM+RO6NFdNDkmkqpgJcf1WuqGwAUpn0diSPTFOtwTcLQO0AaPtWkT/rRkqGa+qN0E5EhPmyVFDkUB/O/v5q57XbCDKRhQoBGCgn3QW2GaarXfgLCoUvrUJGg0oi3oM8Gndmup4cRs5h9qKEpxbB9C+Zrerx7J3iClpkCPUc9o2YWPXon3QIBpJSN99txcengaq+zQW72wiuNjxgCDAiMtnBgGve4JJTJDIXNasCA/o3DmspnMnDwXl083HQeGtiK09wNeKpen5suI4AcopATA0jKqPvibNRWVJFiTHbteRk0ZfllTOi5AOu6ww+WhxjDfxupOsf06/VpjMjEF1UIDcM6OXtolF0adcwbT2uaE2uHs6dr9T9uo2TLjEcW4IsSR2ucwQdtRXIAz9AYNe0nQAg87/izC4Ecaqwy4yq/a6zT7Tgnc+/c7OVOtetlchome4EvuDkAbtlZMfx04MQAkJDkgR0Hip//fK1atCVZsIodYoXWQKJCfOwaBdPkuKwKMsmQ=
    - secure: Z9mtme8CKE5xJRNUUIDce3xPNq3tn+bWAweyGo6jOIoJpN8bj/jyU9QntI9OlINAnl4qjc3K/73EKeF+63BGgGTRGejU4gB52om1u/++LNF4//Fi82wnCpH7bAQMASwPeZ4h2GHxvDKYPIMRG16tx/O7w6G0XV4qGXZuQLy9GMPdvgvX7Z4LQayxnuoM6FSJHz5eEPO//6wTZe1bze4laO+BddCxeMd1OAAVzrOCasbEz2G42cTa5Pj23/WsrbtUcbFvK+W3YJQBxNxhcVD7V+gxiYYPrdW4YzB/W/ojRrQLeKZPXDQ8bwfEs3+eoCMPTRRRHYIXTyr4Up7Bn9YND7YYbW/PYBA2WtDAo2zW/f/uCTHTWmB7KtcxE6PZNWytLFgkec+5LsDgZMioUf6l7/iQ2pt2jZ9BaYX+seiUSEPkyHgPfHQwD969T4D+7Ejs3xRgbxlUT76Zgs6CaBQGrQaU1pxqp6NcDjyvCfO0kmSVwsyUJyB0vKbaq0PaH0An3sOJYOTyD0HS8LWIA0dMlbNcp8rzP9tGIDhYaPiqteWD0NxoYb8WKNntqNKw3b4cB9BiHTLnpwqlFkXWxlPHG0980lLS7HQa28qWf0W8ToyhSDrFhJbCD1whq7AtZkin6IuDdI6XDqwXE4E6r5K6/VIeqPo3WJE+T2q6fh6gzJ8=
    - secure: eK6qw6sTGwa9iHSOkSFHISh1KfT12twMWL0YDNuv1CMoONXOe5EBeuVeW4htQY4GR8Pne2r3eUpOXaEGPuTne8EvVsn2U5JdNTDzkyuf9brY69h220PmhxAO8uPLaaqarWKR89rhMc6qhYrDB34nxdr71I3HKMenI+21AQ+wullsjtOFJKHZjyKktO/bg/q6QJzjkopnOj3Y6fjDRtl3gi2nwb76QR9mo8VCXHNwDddR1r2lMPFo8xUkP9s5FCtIAVzw6suq/00w15o9s+Fphe91WdzBPd1XVe5sSyIfXJnBrSXYIVGuM+mURgMru0vm6eRm9CJCjn8m48shKWAuThRBHP8oR7yKQUotqnEH0nY0LePPdMvpHDqga53x184IfS5lirhYHlKG5fOSWvTxp/PQ5wqAde/pl8suIxidVmbbSsymX3/mVZW9vJ8TfbjepS5rJbvqQ5b8gaf3xaWBBu1Q2KVRfodCu7e5zAzi6kD9RC/yia18dCqimsfF/7V70vJOyN/2NOlY4apOcsI70zd7DtJkitBXELcGri8TiSHP00Xj9gqbnk7VB/+1pvHp19TotZnH+6Lx8ZlxdQLKQzPoTKvONtZCZRFPzKq31Ia8XRZzSWFwb5m+8MLwituKlU2CmU2OVgkpoWmeebbrImsBdPZwXyetIzcw5pcPwsM=
before_install:
  - openssl aes-256-cbc -K $encrypted_7512648e3e98_key -iv $encrypted_7512648e3e98_iv
    -in ./infrastructure/travis/openshift-token.enc -out ./infrastructure/travis/openshift-token
    -d
notifications:
  slack:
    on_failure: always
    on_pull_requests: false
    on_success: never
    rooms:
      - secure: EIhVhqeEpqRDzR68DT3wWLtnBCaX913KG7po89dXZi77yWNX9/aFdtXT3RpwY1RXdOUhoeTd5wkEvf6eZSbVz541jGCg+uZrJCKWjy3yS1bCZauQOnQ4qBTPwlue2CMZrvF9lKjrYsgisK6dAp/6cRAsdqM1N7M1OPI1BrRuG6aH/td8MAU8gm1VFSqZhvFcgQxwbs8TQxhBc7gJsi2qvlYHp4mEfVynrKOkvJ/lhEhv+0MnRhpspC3CmpStoDlPm5WdrlYfIleLHbWbmQtxwQ++GF5ic34jBaHh4zNrBB6e3VzgOzvBzrI/E8Ub8UEkA0VOE/5Q90zrQuOd5RDtOXG13J/8ZyLWqdAvs3puOlqjAuEMU+xhPMHdyLYHrBSEWbXMkPpT9qN8WBWdFoGTqRAIOIhV+FhEpp0kV2X3UukLwn0RHpi96weSVFVTi9DmF7JShvoGKECwrEI96JbsMt0KdOluOnbUiExPk7zO8v6ADLy2469ewrRI+OcDZyyxy3mgeH/lSYPgRyo0QAvwOJJBJSfvhvv/Abej3AFy9G9Fr1csITg1QJV9mpU2wIKxDYLSS8WkaEkA0sHruU3LR1SnWaIeQMFHCEVUzteIY3pz29QuUlNGqGnl3k9oZLRY1++cDaJcW6imzVm5nrccaIZq9zw1t8XFrEGQy86YHtk=
    template:
      - "Repo `%{repository_slug}` *%{result}* build (<%{build_url}|#%{build_number}>) for commit (<%{compare_url}|%{commit}>) on branch `%{branch}`."
      - "Message: %{commit_message}"
      - "Execution time: *%{duration}*"
