version: '3'
services:
  redis-api:
    image: redis:5.0
    networks:
      myskills:
        aliases:
          - redis-api
    ports:
      - 6380:6379
  postgres:
    image: postgres:9.6
    ports:
      - 127.0.0.1:5432:5432
    networks:
      myskills:
        aliases:
          - postgres
    environment:
      - POSTGRES_USER=postgresuser
      - POSTGRES_PASSWORD=postgrespassword
      - POSTGRES_DB=mydata
      - POSTGRES_INITDB_ARGS=--encoding=utf8
  mydata-operator:
    image: jobtechswe/mydata-operator:latest
    ports:
      - 127.0.0.1:4000:4000
    networks:
      myskills:
        aliases:
          - operator
    environment:
      - PORT=4000
      - PGHOST=postgres
      - PGUSER=postgresuser
      - PGPASSWORD=postgrespassword
      - PGDATABASE=mydata
      - REDIS=redis://redis-api:6379/
networks:
  myskills:
    external:
      name: myskills
