version: '2.4'
services:
  myskills-api:
    build:
      context: .
      target: base
    command: npm run integration
    environment:
      - REDIS_API_HOST=redis-api
      - REDIS_API_PORT=6379
      - SERVER_PORT=3000
      - MYDATA_OPERATOR=http://operator:4000
      - MYDATA_APP=http://mydata-app:1337
    depends_on:
      - mydata-operator
    networks:
      myskills:
        aliases:
          - myskills-api

  redis-api:
    image: redis:5.0
    networks:
      myskills:
        aliases:
          - redis-api
    ports:
      - 6380:6379

  postgres:
    image: postgres:11
    ports:
      - 5432:5432
    networks:
      myskills:
        aliases:
          - postgres
    environment:
      - POSTGRES_USER=postgresuser
      - POSTGRES_PASSWORD=postgrespassword
      - POSTGRES_DB=mydata
      - POSTGRES_INITDB_ARGS=--encoding=utf8
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgresuser -d mydata']
      interval: 10s
      timeout: 5s
      retries: 5

  mydata-operator:
    image: jobtechswe/mydata-operator
    networks:
      myskills:
        aliases:
          - operator
    ports:
      - 4000:4000
    environment:
      - PORT=4000
      - NODE_ENV=development
      - PGHOST=postgres
      - PGUSER=postgresuser
      - PGPASSWORD=postgrespassword
      - PGDATABASE=mydata
      - REDIS=redis://redis-api:6379/
    command: bash -c "npm run migrate up && npm run start"
    depends_on:
      postgres:
        condition: service_healthy

  mydata-app: #This replaces the phone app in the normal flow.
    image: jobtechswe/mydata-app
    environment:
      - OPERATOR_URL=http://operator:4000/api
    networks:
      myskills:
        aliases:
          - mydata-app
networks:
  myskills:
    external:
      name: myskills
