apiVersion: v1
kind: BuildConfig
metadata:
  name: api
  namespace: myskills
spec:
  output:
    to:
      kind: ImageStreamTag
      name: "api:latest"
  resources:
    limits:
      memory: 1Gi # Nodes have low resources by default. We need higher memory for our build
  runPolicy: Serial
  source:
    git:
      ref: master
      uri: "https://github.com/JobtechSwe/myskills-api"
    type: Git
  strategy:
    dockerStrategy: {}
    type: Docker
  triggers:
    - github:
        secretReference:
          name: github-webhook-secret
      type: GitHub
